body {
    background: #0f172a;
    color: white;
    font-family: system-ui;
    text-align: center;
    padding: 40px;
}

video {
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,.6);
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

button {
    background: #38bdf8;
    cursor: pointer;
}
