<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Player</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>🎬 Video Streaming</h1>

  {% if video_id %}
  <div class="video-box">
    <iframe
      src="https://drive.google.com/file/d/{{ video_id }}/preview"
      allowfullscreen
      allow="autoplay">
    </iframe>
  </div>
  {% else %}
    <p>ยังไม่มีคลิป</p>
  {% endif %}
</div>

</body>
</html>
